<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <!--<a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
	  <nav class="site-nav" style="margin-top:20px;">-->
	  <a href="{{ site.url }}"><img src="{{ site.baseurl }} /images/logo.png" style="float:left; width:20%;" /></a>
        {% include navigation.html %}       
      </nav>
      <a href="https://usc.edu/"><img src="{{ site.baseurl }} /images/usc.png" style="float:left; width:20%;" /></a>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
